@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared style */
.display-flex{
    display: flex;
}
.clr-orange{
    color: #FEA301;
}
.clr-skyblue{
    color: #01ACFD;
}
.clr-cyan{
    color: #05D4DF;
}
.clr-pur{
    color: #5D58EF;
}
.clr-black{
    color: black;
}
.font-n{
    font-weight: 500;
    font-size: 20px;
}
.primary-btn{
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.btn-1{
    background-color: #FEA301;
}
.btn-2{
    background-color: black;
}
/* Nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-li{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1160px;
    margin: 0 auto;
}
.nav-t{
    font-size: 32px;
    font-weight: bold;
}
.img-1{
    width: 100%;
}
/* .hamburger{
    display: none;
} */
/* Banner style */
.banner{
    align-items: center;
}
.banner-content{
    max-width: 640px;
    margin: 0 auto;
    margin-left: 10px;
}
.banner-t{
    font-weight: bold;
    font-size: 3.5rem;
}
.banner-p{
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}
/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* section curriculum */
.curriculum{
    background-image: url(../assets/bg.png);
    padding: 60px;
}
.sc-t{
    font-size: 2.875rem;
    font-weight: bold;
    text-align: center;
}
.kinder-t{
    font-weight: bold;
    font-size: 1.5rem;
}
.kinder-p{
    color: #808080;
    font-size: 0.9rem;
    font-weight: 500;
}
.read-1{
    color: #64C8FF;
    font-size: 0.943rem;
    font-weight: bold;
}
.read-2{
    color: #F0AA00;
    font-size: 0.943rem;
    font-weight: bold;
}
.read-3{
    font-size: 0.943rem;
    font-weight: bold;
    color: #8700FF;
}
.kinder{
    background: linear-gradient(to top, #FFFFFF, #DEF5FF);
    border-radius: 18.86px;
    text-align: center;
    padding: 3rem 2.5rem;
    margin-right: 28px;

}
.elementary{
    background: linear-gradient(to top, #FFFFFF, #FFF4DC);
    border-radius: 18.86px;
    text-align: center;
    padding: 3rem 2.5rem;
    margin-right: 28px;
    
}
.middle{
    background: linear-gradient(to top, #FFFFFF, #F2E8FF);
    border-radius: 18.86px;
    text-align: center;
    padding: 3rem 2.5rem;
    
}
.cards{
    max-width: 1160px;
    margin: 80px auto;
}
/* section stories */
.stories{
    background-image: url(../assets/bg.png);
    background: linear-gradient(to bottom, #FFFFFF, #FFF4DC);
    padding-bottom: 3.75rem;
}
.s-btn{
justify-content: center;
display: flex;
}
.sf{
    max-width: 1160px;
    margin: 80px auto;
}
.story-t{
    font-weight: bold;
    font-size: 2.875rem;
    text-align: center;
}
.sh{
    font-size: 0.959rem;
    font-weight: bold;
}
.s1h{
    font-size: 1.5rem;
    font-weight: bold;
}
.s-img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story-1{
    max-width: 540.27px;
    background-color: white;
    border-radius: 16px;
    margin-right: 19px;
}
.story-2{
    background-color: white;
    border-radius: 16px;

}
.story-3{
    background-color: white;
    border-radius: 16px;

}
.story-4{
    background-color: white;
    border-radius: 16px;

}
.story-5{
    background-color: white;
    border-radius: 16px;

}
.sgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.story-content{
    margin: 28px 38px;
}
.s-1-con{
    margin: 34px 40px;
}
/* Footer */
footer{
    background-color: #01ACFD;
}
.footer-p{
    max-width: 400px;
    margin: 0 auto;
    color: white;
    font-size: 1.25rem;
}
.footer-t{
    color: white;
    font-weight: bold;
    font-size: 2.634rem;
}
.footer-con{
    justify-content: space-between;
    padding: 160px;
    align-items: center;
}
.as-t{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.as-p{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
.kip{
    font-size: 1.625rem;
    color: white;
}
.f-img{
    width: 100%;
}
/* responsive */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
     .nav-t, .nav-links, .btn-1{
        display: none;
     }
     .banner-content{
        text-align: center;
     }
     .cards{
        flex-direction: column;
     }
     .kinder,.elementary,.middle{
        width: 90%;
        margin: auto;
     }
     .curriculum{
        padding: 0;
     }
     .sf{
        flex-direction: column;
        width: 100%;
     }
     .story-1{
        display: none;
     }
     .footer-con{
        flex-direction: column;
     }
}